@use '../helpers' as *;

.nav-menu {

    &__list {
        display: flex;
        gap: rem(30);
    }

    &__item {}

    &__link {
        padding-block: rem(20);
        align-items: center;
        column-gap: rem(5);

        svg {
            opacity: 0;
            transition: var(--transition-duration);
            color: var(--color-accent);
        }

        @include hover {
            svg {
                opacity: 1;
            }
        }
    }
}