@use '../helpers' as *;

.portfolio {

    &__inner {}

    &__header {}

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

    &__item {
        @include mobile-above {
            &:nth-child(even) .portfolio__card {
                .work-card__body {
                    order: -1;
                }
            }
        }
    }

    &__card {}
}